body{background: black;}
h1, h2{display: flex;
    justify-content: center;}

    .user{display: flex;
    justify-content: center;}
    .profileDetail{
      width:100%;
      display: flex;
    justify-content: center;

    }
h1, h2, h3, h4{font-weight: 200 !important; font-size: 180% !important;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
